.navegacion{
  background-color: aqua;
}

.lista{
  display: flex;
  flex-direction: row;
}

.lit{
  padding: 20px;
  list-style: none;
  transition: ease 0.3s;
}
.lit:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.lit a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}